.form{
    /* text-align: center; */
    width: 40%;
    margin: 0 auto;
    /* border: solid 1px; */
    }
    .form input{
        padding: 10px 16px;
        width: 70%;
        border: solid 1px rgb(214, 87, 87);
        border-radius: 5px;
    }
    button{
        padding: 12px 20px;
        border: none;
        background-color: rgb(84, 226, 27);
        border-radius: 5px;
        color: white;
        
    }